<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>daily report</title>
        </link>
    </head>
    <body>
        <div>
            <div style='float: left; margin-left: 50px'>
                <p style='font-size: 19px;'>可能是东半球最好用的日报发送应用</br></p>
                <p style='font-size: 14px; font-style: italic; margin-left: 1em'>
                    - github地址:https://github.com/Iam42/Daily-Report<br/>
                    - powered by: zhanggan</br>
                    - 如果对你有帮助，就请我喝杯啤酒吧，支付宝 --->
                </p>
            </div>
            <div>
                <img src="../static/alipay.png" style='width: 120px; margin-left: 20px'>
            </div>
        </div>

        <div style='margin-left: 20px'>
            <form name="build" action="{{url_for('build')}}" method="post">
                <input type="submit" value="生成日报" />
            </form>

            <form name="clean" action="{{url_for('clean')}}" method="post">
                <input type="submit" value="清除记录" />
            </form>
        </div>

        <p>
            -------大Android--------
        </p>

        <p>
            小学徒泛槎：
        </p>
        <form name="fancha" action="{{url_for('fancha')}}" method="post">
            昨天: 
            <textarea name="fancha_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="fancha_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            九风：
        </p>
        <form name="jiufeng" action="{{url_for('jiufeng')}}" method="post">
            昨天: 
            <textarea name="jiufeng_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="jiufeng_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            奎叔：
        </p>
        <form name="xueya" action="{{url_for('xueya')}}" method="post">
            昨天: 
            <textarea name="xueya_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="xueya_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            泊尔：
        </p>
        <form name="boer" action="{{url_for('boer')}}" method="post">
            昨天: 
            <textarea name="boer_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="boer_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            600：
        </p>
        <form name="liubai" action="{{url_for('liubai')}}" method="post">
            昨天: 
            <textarea name="liubai_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="liubai_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            -------iOS--------
        </p>
        <p>
            死胖子济凡：
        </p>
        <form name="jifan" action="{{url_for('jifan')}}" method="post">
            昨天: 
            <textarea name="jifan_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="jifan_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            星矢：
        </p>
        <form name="xinlie" action="{{url_for('xinlie')}}" method="post">
            昨天: 
            <textarea name="xinlie_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="xinlie_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            大金台夕照第一男神周敏洪：
        </p>
        <form name="ronghui" action="{{url_for('ronghui')}}" method="post">
            昨天: 
            <textarea name="ronghui_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="ronghui_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            新鹏大神：
        </p>
        <form name="xinpeng" action="{{url_for('xinpeng')}}" method="post">
            昨天: 
            <textarea name="xinpeng_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="xinpeng_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            廉洁：
        </p>
        <form name="lianjie" action="{{url_for('lianjie')}}" method="post">
            昨天: 
            <textarea name="lianjie_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="lianjie_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>

        <p>
            -------Web--------
        </p>
        <p>
            大昆：
        </p>
        <form name="dakun" action="{{url_for('dakun')}}" method="post">
            昨天: 
            <textarea name="dakun_yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="dakun_today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
    </body>
</html>