<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>daily report</title>
        </link>
    </head>
    <body>
        <div>
            <div style='float: left; margin-left: 50px'>
                <p style='font-size: 19px;'>可能是东半球最好用的日报发送应用</br></p>
                <p style='font-size: 14px; font-style: italic; margin-left: 1em'>
                    - <a href='https://github.com/Iam42/Daily-Report'>github地址</a><br/>
                    - powered by: zhanggan</br>
                    - 如果对你有帮助，就请我喝杯啤酒吧，支付宝 --->
                </p>
            </div>
            <div>
                <img src="../static/alipay.png" style='width: 120px; margin-left: 20px'>
            </div>
        </div>

        <div style='margin-left: 20px'>
            <form name="build" action="{{url_for('build')}}" method="post">
                <input type="submit" value="生成日报" />
            </form>
        </div>

        <p>
            -------大Android--------
        </p>

        <p>
            小学徒泛槎：
        </p>
        <form action="{{url_for('save', username='fancha')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='fancha')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            九风：
        </p>
        <form action="{{url_for('save', username='jiufeng')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='jiufeng')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            奎叔：
        </p>
        <form action="{{url_for('save', username='xueya')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='xueya')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            泊尔：
        </p>
        <form action="{{url_for('save', username='boer')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='boer')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            600：
        </p>
        <form action="{{url_for('save', username='liubai')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='liubai')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            -------iOS--------
        </p>
        <p>
            死胖子济凡：
        </p>
        <form action="{{url_for('save', username='jifan')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='jifan')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            星矢：
        </p>
        <form action="{{url_for('save', username='xinlie')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='xinlie')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            大金台夕照第一男神周敏洪：
        </p>
        <form action="{{url_for('save', username='ronghui')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='ronghui')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            新鹏大神：
        </p>
        <form action="{{url_for('save', username='xinpeng')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='xinpeng')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            廉洁：
        </p>
        <form action="{{url_for('save', username='lianjie')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='lianjie')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>

        <p>
            -------Web--------
        </p>
        <p>
            大昆：
        </p>
        <form action="{{url_for('save', username='dakun')}}" method="post">
            昨天: 
            <textarea name="yesterday" rows="1" cols="120"></textarea>
            <br />
            今天: 
            <textarea name="today" rows="1" cols="120"></textarea>
            <br />
            <input type="submit" value="save" />
        </form>
        <form action="{{url_for('weekly', username='dakun')}}" method="post">
            <input type="submit" value="生成周报" />
        </form>
    </body>
</html>